@charset "utf-8";
/* 修改密码css */
.content{
    padding: 180px;
}

.item{
    margin: auto;
    width: 70%;
    height: 300px;
    font-size: 18px;
	/* 每个字之间的间距 */
	letter-spacing: 2px;
    color: rgb(67, 108, 168);
    text-align: center;
    border-radius: 10px;
    
}

.form_control{
    padding: 60px 0;
    width: 100%;
}

.form_item{
    margin-top: 20px;
}

.label_control{
    display: inline-block;
    width: 100px;
    height: 30px;
    font-weight: 700;   
    text-align: right;
    margin-right: 15px;
}

.form_item > input{
    background-color: rgb(238,238,238);
    border: 1px  #ccc;
    font-size: 14px;
    width: 40%;
    height: 35px;
    text-align: center;
}

.button_control{
    display: inline;
    margin-left: -70px;
}

.button_control > div{
    display: inline;
    margin-left: 80px;
}

.button_control > div > input{
    width: 70px;
    height: 35px;
    border: 1px solid;
    border-radius: 5px;
    margin-top: 50px;
    color: white;
}

.submit > input{
    background-color: rgb(11, 140, 245);
}

.submit > input:hover {
    background-color: rgb(60, 163, 248);
}

.submit > input:active{
    background-color: rgb(9, 84, 145);
}

.reset  > input{
    background-color: rgb(51,68,84);
}

.reset  > input:hover{
    background-color: rgb(68,90,110);
}

.reset  > input:active{
    background-color: rgb(37,50,61);
}